[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-decouple = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
markdownify = "*"
django-rest-framework = "*"
pre-commit = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"

[dev-packages]
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.11"
