amqp==5.0.1
asgiref==3.2.10
autopep8==1.5.4
billiard==3.6.3.0
bleach==3.2.1
celery==5.0.1
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==3.1.2
django-crispy-forms==1.9.2
django-decouple==2.1
django-markdownify==0.8.1
djangorestframework==3.12.1
kombu==5.0.2
librabbitmq==2.0.0
Markdown==3.3.2
packaging==20.4
prompt-toolkit==3.0.8
pycodestyle==2.6.0
pyparsing==2.4.7
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
