{% extends 'base.html' %}

{% block title %}
Confirm Delete {{ object.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container">
  <h1>Confirm Delete?</h1>
  <form method="POST">
    {% csrf_token %}
    <p class="lead">
      Are you sure you want to delete <b>{{ object.name }}</b>?
    </p>
    <button class="btn btn-danger">Yes, Delete</button>
    <a class="btn btn-secondary" href="{% url 'mailinglist:mailinglist-list' %}">No</a>
  </form>
</div>
{% endblock content %}
