{% extends 'base.html' %}

{% block title %}
Mailing List - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container py-3">
  <h1>Your Mailing Lists</h1>
  <a href="{% url 'mailinglist:mailinglist-create' %}" class="btn btn-primary">New List</a>

  <div class="pt-4">
    <p class="lead">Your mailing lists:</p>
    <ul>
      {% for mailinglist in object_list %}
      <li>
        <a href="{{ mailinglist.get_absolute_url }}">{{ mailinglist.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
